body{
    font-family: Tahoma;
    margin: 0;
 }
 
 /* Navigasi */
 nav{
    display: flex;
    justify-content: space-between;
    background-color: #efefef;
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
 }
 
 nav>section{
    display: flex;
 }
 
 .nav-item{
    font-size: 13px;
    border: 1px solid black;
    padding:5px 8px 5px 8px ;
    /* border-radius: 10px; */
    text-decoration: none;
    color: black;
    height: 18px;
    margin-top: 10px;
    
 }
 
 /* Logo */
 .logo-item{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 .item1{
    border-bottom-left-radius:5px;
    border-top-left-radius:5px ;
    border-right:none;
 }
 
 .item2{
    border-right: none;
 }
 
 .item4{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
    margin-right:20px ;
 }
 
 /* Our Profile */
 .benner-container{
    height: 258px;
    border-bottom: 1px solid black;
 }
 
 .welcome1{
    padding-top: 20px;
 }
 
 .welcome1, .welcome2{
    padding-left: 100px;
 }
 
 /* Facilities */
 .facility-list{
    display: flex;
    justify-content: space-around;
 }
 
 .fasilitas{
    padding-left: 100px;
 }
 
 .bulet1, .bulet2, .bulet3{
    text-align: center;
    width: 100px;
 }
 
 .bulet1{
    width: 120px;
 }
 
 .bulet2{
    width: 120px;
 }
 
 .bulet3{
    width: 125px;
 }
 
 .facilities-item1, .facilities-item2, .facilities-item3{
    border-radius: 50%;
 }
 
 /* Message Us */
 
 #message-us{
    margin-top: 30px;
 }
 
 .message-us-section{
    display: flex;
    width: 100%;
    margin-bottom: 25px;
 }
 
 .message{
    padding-left: 90px;
 }
 
 .form{
    margin-left: 70px;
    width: 50%;
 }
 
 form{
    /* width: 30%; */
    margin: 20px;
 }
 
 .form-group{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
 }
 
 /* .form-group label{
    display:flex;
 
 } */
 
 .form-group input{
    margin-left: 10px;
 }
 
 .form-group textarea{
    display: block;
    /* margin-top: 10px; */
    height: 100px;
    width: 60%;
 }
 
 #data_all{
    display: block;
    height: 200px;
    width: 60%;
 }
 
 /* input */
 
 #data_nama{
    margin-left: 55px;
    width: 60%;
 }
 
 #data_pesan{
    margin-left: 46px;
 }
 
 #data_ttl{
    width: 60%;
 }
 
 #nama{
    width: 60px;
 }
 
 #pesan{
    width: 70px;
 }
 
 #submit{
    width: 82%;
    height: 30px;
 }
 
 .result-container{
    width: 50%;
    
 }
 
 .form-result {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 25px;
    /* margin-left: 200px;
    margin-bottom: 100px; */
    /* border: 1px solid black; */
 }
 
 /* footer */
 
 .footer{
    border-top: 1px solid black;
 }
 
 .wm{
    width: 1005;
    margin-right: 50px ;
    text-align: right;
 }
 
 hr{
    margin: 0px;
 }